@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body,
body > div:first-child,
div#__next {
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
  line-height: 0;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #858585;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px #00000033;
  box-shadow: inset 0 0 5px #00000033;
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px #00000033;
  box-shadow: inset 0 0 5px #00000033;
  background: #858585;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

.react-flow__attribution {
  display: none;
}